body {
    /* margin-left: 5px;
    margin-right: 5px; */
    font-family: "Lato";
}

.bg-opacity {
    margin-top: 5px;
    position: relative;
    background-color: #000;
}

#btn-bgstroke {
    text-decoration: none;
    color: #fff;
}

.bg-opacity::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background: url("/img/3\ plantas-2.jpg") no-repeat center center;
    background-size: cover;
}

.content {
    padding-top: 210px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 600px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

#content {
    float: right;
}